#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
